@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto Mono", serif;
  height: 100vh;
  overflow: hidden;
}
.header{
  text-align: center;
  padding: 0.5rem;
  background-color:#ACC8E5;
  color: #112A46;
  font-family: sans-serif;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  font-weight: 600;
}
.display{
  width: 600px;
  height: 350px;
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  color:#2E2423;
  font-weight: 700;
  background-color: #FF9A8B;
  border-radius: 20px;
}
.next-btn{
  width:100px;
  height: 35px;
  background-color:#ACC8E5;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 20px;
  outline: none;
  border: none;
}
@media (max-width: 600px){
  .display {
    width: 360px;
    height: 300px;
    font-size: 1.5em;
    padding: 0 1.2rem;
    margin-top: 12rem;
  }
  .next-btn{
    width: 200px;
    height: 40px;
  }
}