*{
  margin:0;
  padding:0;
}
body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}
.header{
  text-align: center;
  padding: 0.5rem;
  background-color:#ACC8E5;
  color: #112A46;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  font-weight: 600;
}
.display{
  width: 450px;
  height: 350px;
  border: #083307 5px solid;
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: #083307;
  font-weight: 700;
  background-color: #BDEBA1;
  border-radius: 20px;
}
.container button{
  width:100px;
  height: 35px;
  background-color: #BDEBA1;
  border-radius: 20px;
  outline: none;
  border: none;
}
.container button:hover{
  background-color: #567d3f;
}
@media (max-width: 600px){
  .container{
    gap: 4rem;
  }
  .display {
    width: 320px;
    height: 350px;
    font-size: 1.5em;
    padding: 0.5rem;
  }
  .container button {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px 15px;
    width:310px;
    height: 50px;
  }
}